<nav class="navbar">
  <h1>
    <a [routerLink]="['/']">Angular Training</a>
  </h1>
  <ul>
    <li routerLinkActive="active" >
      <a [routerLink]="['/home']">Home</a>
    </li>
    <li routerLinkActive="active" ><a [routerLink]="['/posts']">Posts</a></li>
    <li routerLinkActive="active" ><a [routerLink]="['/about']">About</a></li>
    <li><button class="btn" (click)="authService.login()">Login</button></li>
    <li><button class="btn" (click)="authService.logout()">Logout</button></li>
  </ul>
</nav>
<div class="container">
  <div class="card">
    <input class="form-control" [(ngModel)]="howMuch">
    <router-outlet></router-outlet>
  </div>
</div>
